<html>
  <head>
    <title>
      My Custom Error Page
    </title>
    <link rel="stylesheet" href="error.css">
    <body>
      
      <h1>This page not found <span> 
        <a href="/">Get back home</a>
      </span></h1>
    </body>
  </head>
</html>