<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="/new">Post message</a>
    <div class="messages-container">
      <% messages.forEach((message) => { %>
        <div class="message-container">
          <div class="message-info">
            <h1><%= message.user %></h1>
            <p><%= `Sent on ${message.added}` %></p>
          </div>
          <p><%= message.text %></p>
        </div>
      <% }); %>
    </div>
  </body>
</html>