<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="/new">Post message</a>
    <div class="messages-container">
      <% for (let i = messages.length - 1; i >= 0; i--){ %>
        <div class="message-container">
          <div class="message-info">
            <h1><%= messages[i].username %></h1>
            <p><%= `Sent on ${messages[i].date}` %></p>
          </div>
          <p><%= messages[i].message %></p>
        </div>
      <% }; %>
    </div>
  </body>
</html>